* { box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

.column1, .column2 {
  float: left;
  padding: 10px;
}

.column12, .column22, .column32 {
  float: left;
  padding: 10px;
}

.column1{
  background-color: white;
  width: 40%;
  margin-left: 12%;
}

.column2{
  background-color:white;
  width: 40%;
  margin-left: 2%;
}

.column12{
  background-color: white;
  width: 30%;
  margin-left: 10%

}

.column22{
  background-color:white;
  width: 30%;

}
.column32{
  background-color:white;
  width: 30%;

}


row:after {
  content: "";
  display: table;
  clear: both;
}



@media (max-width: 600px) {
  .column1, .column2 {
    width: 100%;
  }
}

/*sixth one */
#myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg6:hover {opacity: 0.7;}
.modal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content6, #caption6 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close6:hover,
.close6:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*seventh one */
#myImg7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg7:hover {opacity: 0.7;}
.modal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content7, #caption7 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.close7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close7:hover,
.close7:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*eigth one */
#myImg8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg8:hover {opacity: 0.7;}
.modal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content8, #caption8 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.close8 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close8:hover,
.close8:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*ninth one */
#myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg9:hover {opacity: 0.7;}
.modal9 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content9 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption9 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content9, #caption9 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.close9 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close9:hover,
.close9:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*tenth one */
#myImg10 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg10:hover {opacity: 0.7;}
.modal10 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content10 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
#caption10 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content10, #caption10 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.close10 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close10:hover,
.close10:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
